<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
  <link rel="stylesheet" href="css/me.css">
</head>
<body>
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui yellow header item">Tickets</h2>
      <a href="#" class="m-item item m-mobile-hide">Browse</a>
      <a href="#" class="active m-item item m-mobile-hide">Search</a>
      <a href="#" class="m-item item m-mobile-hide">Detail</a>
      <div class="ui dropdown right m-item item m-mobile-hide">
        Account <i class="dropdown icon"></i>
      </div>
    </div>
  </div>
</nav>

<!--    Middle Content    -->
<div class="m-container m-padded-tb-big">
  <div class="ui container">
    <div class="ui stackable grid">
      <!-- left -->
      <div class="eleven wide column">
        <!-- header -->
        <div class="ui top attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui yellow header">Search</h3>
            </div>
          </div>
        </div>

        <!-- content -->
        <div class="ui attached segment">
          <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
            <div class="ui middle aligned mobile reversed stackable grid">
              <form class="ui form">
                <div class="field">
                  <label>Flying from: </label>
                  <input type="text" name="originCity" placeholder="Origin city">
                </div>
                <div class="field">
                  <label>Going to: </label>
                  <input type="text" name="destCity" placeholder="Destination city">
                </div>
                <div class="field">
                  <label>Departing: </label>
                  <input type="text" name="originCity" placeholder="MM-DD-YYYY">
                </div>
                <div class="field">
                  <label>Travelers: </label>
                  <select class="ui fluid dropdown">
                    <option value="">Number</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10+</option>
                  </select>
                </div>
                <div class="field">
                  <label>Stops: </label>
                  <select class="ui fluid dropdown">
                    <option value="">Number</option>
                    <option value="0">Nonstop</option>
                    <option value="1">1</option>
                    <option value="2">2+</option>
                  </select>
                </div>
                <button class="ui yellow button" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- right -->
      <div class="five wide column">
        <!-- Recommendation -->
        <div class="ui segments ">
          <div class="ui secondary segment">
            <i class="bookmark icon"></i>Mobile App
          </div>
          <div class="ui segment" >
            <p>Scan out QRcode below, get a chance to win an ultimate award with a free trip to the Panamas!</p>
          </div>

        </div>

        <!-- QRcode -->
        <h4 class="ui horizontal divider header"> 带带大师兄 </h4>
        <div class="ui centered card" style="width: 11em">
          <img src="../static/images/icon2.png" th:src="@{/images/icon2.png}" alt="" class="ui rounded image" style="width: 250px">
          <img src="../static/images/twitch.png" th:src="@{/images/twitch.png}" alt="" class="ui rounded image" >
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--   footer  -->
<footer class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img src="../static/images/icon.png" th:src="@{/images/icon.png}" class="ui rounded image" alt="" style="width: 110px">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced " >Newest</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin">User Story</a>
          <a href="#" class="item m-text-thin">User Story</a>
          <a href="#" class="item m-text-thin">User Story</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced " >Contact</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin">Email</a>
          <a href="#" class="item m-text-thin">LinkedIn</a>
          <a href="#" class="item m-text-thin">Github</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">About Me</h4>
        <div class="ui inverted link list">
          <p class="m-text-thin m-text-spaced m-opacity-mini">大可不必了解我，看我笑话就好...</p>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © </p>
  </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>