<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui yellow header item">Tickets</h2>
      <a href="#" class="active m-item item m-mobile-hide">Search</a>
      <a href="#" class="m-item item m-mobile-hide">Detail</a>
      <div class="ui dropdown right m-item item m-mobile-hide">
        Account <i class="dropdown icon"></i>
      </div>
    </div>
  </div>
</nav>

<!--    Middle Content    -->
<div class="m-container m-padded-tb-big">
  <div class="ui container">
    <form class="ui secondary segment form" method="post" action="#" th:action="@{/flights/searchUpdate}">
      <input type="hidden" name="page">
      <div class="inline fields">
        <input type="hidden" name="originCity" th:value="${originCity}">
        <input type="hidden" name="destCity" th:value="${destCity}">
        <input type="hidden" name="date" th:value="${date}">
        <div class="field">
          <select class="ui dropdown" type="text" name="sort">
            <option value="0">Sort</option>
            <option value="1">Price (Lowest first)</option>
            <option value="2">Price (Highest first)</option>
            <option value="3">Duration (Lowest first)</option>
            <option value="4">Duration (Highest first)</option>
          </select>
        </div>
        <div class="field">
          <select class="ui dropdown" type="text" name="stops">
            <option value="0">Stops</option>
            <option value="0">Nonstop</option>
            <option value="1">1 stop</option>
            <option value="2">2+ stops</option>
          </select>
        </div>
        <div class="field">
          <select class="ui dropdown" type="text" name="travelers">
            <option value="1">Number</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10+</option>
          </select>
        </div>
        <div class="field">
          <button type="submit" id="search-btn" class="ui mini yellow button"><i class="search icon"></i>Search</button>
        </div>
      </div>
    </form>


    <div class="ui stackable grid">
      <!--  searching result-->

      <div class="sixteen wide column">
        <!-- header -->
        <div class="ui attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui yellow header" th:text="|Searching flights to ${flights[0].dest_city}|">Searching flights to $destCity</h3>
            </div>
            <div class="right aligned column">
              Total: <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(flights)}" >99</h2> flights
            </div>
          </div>
        </div>

        <!-- content -->
        <div class="ui attached segment" th:each="flight : ${flights}">
          <div class="ui padded vertical segment m-padded-tb-large" >
            <h2><span th:text="${flight.origin_city}">SEA</span> - <span th:text="${flight.dest_city}">456</span></h2>
            <div class="ui middle aligned mobile reversed stackable grid">
              <!-- depart time, arrival time, airlines -->
              <!-- duration, stops, origin city - dest city -->
              <div class="twelve wide column">
                <div class="ui vertical link list">
                  <div class="m-black item">
                    <h3 th:with="hour = ${flight.actual_time / 60}, minute = ${flight.actual_time % 60}" th:text="|Trip duration: ${hour} Hours ${minute} Minutes|">5 Hours 21 Minutes</h3>
                  </div>
                  <div class="item">
                    <span>Nonstop</span>
                  </div>
                  <div class="item">
                    <span >Delta</span>
                  </div>
                </div>
              </div>

              <!-- price, trip type, and select button -->
              <div class="right aligned four wide column">
                <div class="ui vertical link list">
                  <div class="item">
                    $<span th:text="${flight.price}">199</span>
                  </div>
                  <div class="item">
                    <span>Oneway</span>
                  </div>
                </div>
                <a href="#" class="ui yellow button">Select</a>
              </div>
            </div>

          </div>

        </div>

        <!-- bottom -->
        <div class="ui bottom attached segment" >
          <div class="ui middle aligned two column grid">
            <div class="column">
              <a href="#" class="ui mini yellow basic button">Previous</a>
            </div>
            <div class="right aligned column">
              <a href="#" class="ui mini yellow basic button">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>


<!--   footer  -->
<footer class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img src="../static/images/icon.png" th:src="@{/images/icon.png}" class="ui rounded image" alt="" style="width: 110px">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced " >Newest</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin">User Story</a>
          <a href="#" class="item m-text-thin">User Story</a>
          <a href="#" class="item m-text-thin">User Story</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced " >Contact</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin">Email</a>
          <a href="#" class="item m-text-thin">LinkedIn</a>
          <a href="#" class="item m-text-thin">Github</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">About Me</h4>
        <div class="ui inverted link list">
          <p class="m-text-thin m-text-spaced m-opacity-mini">大可不必了解我，看我笑话就好...</p>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © </p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>